# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.obj
*.tags
*.pyd
8086_Emulator.egg-info/*
dist
*.pyc
*.exp
build/*
MANIFEST
__pycache__
*.spec

# IDA files
*.id*
*.nam
*.til

# autogenerados:
logo_ico_8086_Emulator.h
8086_Emulator.ico
*.docx
*.class